@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply min-w-0;
  }
  button,
  .button {
    @apply border bg-indigo-700 text-white text-xs px-4 py-2 rounded-md min-w-20 text-center;
  }

  .button-alternate {
    @apply bg-white text-black;
  }

  fieldset {
    @apply p-4 shadow-md;
  }

  h1 {
    @apply text-3xl;
  }

  h3,
  h6 {
    @apply font-bold;
  }

  input[type="checkbox"] {
    @apply h-4 w-4 border-indigo-800 rounded border-gray-300 focus:ring-indigo-800 accent-indigo-800;
  }

  .pagination * {
    @apply p-2 bg-white;
  }

  .pagination>.page-number {
    @apply size-9 text-center;
  }

  .spinner_ajPY {
    transform-origin: center;
    animation: spinner_AtaB 0.75s infinite linear;
  }

  @keyframes spinner_AtaB {
    100% {
      transform: rotate(360deg);
    }
  }
}